@import "src/scss-partials/colors";
@import "src/scss-partials/mixins";

.Title {
  font-weight: normal;

  @include desktop-media-query {
    margin-bottom: 5%;
  }

  @include mobile-media-query {
    margin-bottom: 10%;
  }
}