@import 'src/styles/mixins';

.AppBar {
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

.HamburgerMenuButton {
  margin-right: 1rem;
}

.LogoWrapper {
  flex: 1;
}

.DrawerLogoWrapper {
  padding: 5vw;
}

.DrawerList {
  padding-top: 0;
  min-width: 60vw;
}