@import 'src/styles/mixins';
@import 'src/styles/constants';

.Navigation {
  position: fixed;
  width: 100%;
  transition: all linear 0.2s;
}

.NavigationOpacity {
  background-color: white;
}

.AppBar {
  height: $navigation-height;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

.HamburgerMenuButton {
  margin-right: 1rem;
}

.LogoWrapper {
  flex: 1;
}

.DrawerLogoWrapper {
  padding: 5vw;
}

.DrawerList {
  padding-top: 0;
  min-width: 60vw;
}