@import 'src/scss-partials/constants';

.Header {
  position: fixed;
  display: flex;
  align-items: center;

  z-index: 1;
  width: 100%;
  height: $header-height;
  padding: 0 2rem;

  transition: all ease-in-out 300ms;
}

.HeaderOnScroll {
  background-color: #fff;
}

.LogoWrapper {
  flex: 1;
}