@import "src/scss-partials/colors";
@import "src/scss-partials/mixins";

.HeadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .Avatar {
    $avatarSize: 2rem;
    width: $avatarSize;
    height: $avatarSize;
    transform: translateY(1px);
  }
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Section {
    padding: 3% 0;

    @include mobile-media-query {
      padding: 7.5% 0;
    }

    @include desktop-media-query {
      width: 50vw;
    }
  }
}
