@import "../../../../scss-partials/mixins";

.Offer {
  @include mobile-media-query {
    width: 85%;
    user-select: none;
  }

  @include desktop-media-query {
    width: 40%;
  }

  transition: 0.3s cubic-bezier(.47, 1.64, .41, .8);

  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}