@import "src/scss-partials/mixins";

.Content {
  display: flex;
  align-items: center;

  @include mobile-media-query {
    display: block;
    text-align: center;
  }
}

.Image {
  border-radius: 15px;
  margin: 3rem;
  width: 25vw;

  @include mobile-media-query {
    width: 60vw;
  }
}