@import 'src/scss-partials/constants';

.Header {
  position: fixed;
  display: flex;
  align-items: center;

  z-index: 1;
  width: 100%;
  height: $header-height;
  padding: 5px 25px;

  transition: all ease-in-out 300ms;
}

.Header2 {
  background-color: rgba(255, 255, 255, 0.4);
}

.HeaderOnScroll {
  background-color: #fff;
}

.HamburgerMenuButton {
  margin-right: 1rem;
}

.LogoWrapper {
  flex: 1;
}