@import '../../../scss-partials/mixins';
@import '../../../scss-partials/constants';

.Header {
  position: fixed;
  width: 100%;
  transition: all linear 0.2s;
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

.HeaderOnScroll {
  background-color: white;
}

.HamburgerMenuButton {
  margin-right: 1rem;
}

.LogoWrapper {
  flex: 1;
}

.DrawerLogoWrapper {
  padding: 5vw;
}

.DrawerList {
  padding-top: 0;
  min-width: 60vw;
}