@import '../../../../../scss-partials/mixins';

.NavigationItem {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}

.NavLink {
  width: 100%;
}

.Active {
  .Text {
    &, span {
      font-weight: bold;
    }
  }
}