@import "src/scss-partials/mixins";

.Card {
  margin: 1rem;
  border-radius: 30px;

  @include desktop-media-query {
    width: 50vw;

    transition: 0.3s cubic-bezier(.47, 1.64, .41, .8);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12);

    &:hover {
      transform: scale(1.04);
      cursor: pointer;
    }
  }
}

.Media {
  height: 0;
  padding-top: 56.25%;
}

.CardActions {
  display: flex;
  justify-content: center;
}