$primary: #add8e6;
$secondary: #edb100;
$error: #f44336;
$info: #00bcd4;
$success: #8bc34a;

$logo1: #000;
$logo2: #edb100;


:export {
  primary: $primary;
  secondary: $secondary;
  error: $error;
  info: $info;
  success: $success;
}