$primary: #add8e6; //add8e6
$secondary: #ff1744;
$error: #f44336;
$info: #3f51b5;
$success: #8bc34a;

$logo1: #000;
$logo2: #edb100;

$text-selection: #b3d4fc;


:export {
  primary: $primary;
  secondary: $secondary;
  error: $error;
  info: $info;
  success: $success;
}