@import "src/scss-partials/colors";
@import "src/scss-partials/mixins";

.HeadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .Avatar {
    $avatarSize: 2rem;
    width: $avatarSize;
    height: $avatarSize;
  }
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}