@import 'src/styles/_mixins';

.NavigationItem {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}

.NavLink {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.Active {
  .DesktopButton, .MobileButton {
    .Text {
      &, span {
        font-weight: bold;
      }
    }
  }
}

.MobileButton {
   width: 100%;
}

.DesktopButton {
  .Text {
    font-size: 0.92rem;
    color: #666;
  }
 }