@import '../../scss-partials/constants';
@import "../../scss-partials/colors";

.HomePage {
  background: linear-gradient(to right, darken($primary, 15) 0%, $primary 100%);
}

.Text {
  padding: 10%;

  .Title {
    font-weight: normal;
  }

  .Subtitle {
    font-weight: lighter;
  }
}