@import '../../scss-partials/constants';
@import "../../scss-partials/colors";

.HomePage {
  background: $primary;
}

.Text {
  padding: 10%;

  .Title {
    font-weight: normal;
  }

  .Subtitle {
    font-weight: lighter;
  }
}