@import '../../scss-partials/constants';

.HomePage {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../../assets/background.png');
  background-size: contain;
}


.Text {
  width: 75vw;

  padding-bottom: 9vw;

  .Title {
    font-weight: normal;
  }

  .Subtitle {
    font-weight: lighter;
  }
}